@import "../../common/sass/variables.module.scss";
.image{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.header{
    display: table;
    margin: 0 auto;
}
.headerWrapper{
    @include s-screen-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include xs-screen-view{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.title{
    text-align: center;
}
.label{
    // background-color: #0869DA;
    color:#0869DA;
    font-weight: bold;
  
    // padding: 2px;
    font-size: 12px;
    
}
.labelWrapper{
    margin-top: 10px;
}
.content{
    margin-top:50px;
   display: flex;
   justify-content: center;
}
input{
    border-radius: 0;
    border: 1px solid #0869DA;
    width: 97%;
}
.connect{
    margin-top: 10px;
    background-color: #2EA44F;
    color:white;
    border:none;
}
.panel{
    @include s-screen-view{
        width: 335px;
        margin-top:5px;
        padding:5px;
        border-radius: 5px;
    }
    @include xs-screen-view{
        width: 335px;
        margin-top:5px;
        padding:5px;
        border-radius: 5px;
    }
    margin-top: 15px;
    background-color: #F6F8FA;
    padding:15px;
    border-radius: 10px;
    color:gray;
   
}
.content{
    display: grid;
}