@import "../../common/sass/variables.module.scss";

.root{
    margin-left:50px;
    margin-right: 50px;
    display: block;
    justify-content: center;
    
}
h3{
    margin:0;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .logout{
    background-color: #2EA44F;
    color:white;
    border-radius: 3px;
    border:none;
  }