@import "../../common/sass/variables.module.scss";

.root{
    margin-left:50px;
    margin-right: 50px;
    display: block;
    justify-content: center;
    @include s-screen-view{
      margin-left: 0px;
      margin-right: 0px;
    }
    @include xs-screen-view{
      margin-left: 0px;
      margin-right: 0px;
    }
}
h3{
    margin:0;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    @include s-screen-view{
      width: 60%;
    }
    @include xs-screen-view{
      width: 45%;
    }
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 100%;
  }
.column1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 100%;
    @include s-screen-view{
      width: 150px;
      flex:none;
      flex-direction: none;
    }
    @include xs-screen-view{
      width: 100px;
      flex:none;
      flex-direction: none;
    }
  }
  .logout{
    background-color: #2EA44F;
    color:white;
    border-radius: 3px;
    border:none;
  }
  ul {
    list-style-type: none;
}
.noIssues {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  color: #0869DA;
}
