@import "../../common/sass/variables.module.scss";
.issueWrapper{
    background-color:#F6F8FA ;
    color:#0869DA;
    margin:10px;
    padding:10px;
    border-radius: 8px;
    display:flex;
}
.image{
    height: 40px;
    width: 40px;
    padding:5px;
}
.columnWrapper{
    padding-left:5px;
}

.columnWrapper > p{
    @include s-screen-view{
       font-size: 12px;
    }
    @include xs-screen-view{
       font-size: 12px;
    }
}
.columnWrapper > h3{
    @include s-screen-view{
        font-size: 14px;
     }
    @include xs-screen-view{
        font-size: 14px;
     }
    
}